$two-column-breakpoint: 1025px;
$handle-size: 7.25px;

@keyframes focus-animation {
	0% { border-color: #ddd; }
	20% { border-color: #ff009d; }
	40% { border-color:  #00ffea; }
	60% { border-color: #ddd; }
	80% { border-color: #00ffea; }
	100% { border-color: #ddd; }
}

@keyframes submit-remind-animation {
	0% { color: #ddd; filter: blur(0); }
	1% { color: #ff009d; filter: blur(6px); }
	4% { color:  #00ffea; filter: blur(1px); }
	5% { color: #ddd; filter: blur(0); }
	9% { color: #00ffea; filter: blur(3px); }
	10% { color: #ddd; filter: blur(0); }
}

@keyframes pointer-animation {
	0% {
		background: #ff009d;
		opacity: 1;
	}

	10% {
		background: transparent;
	}

	20% {
		width: 70%;
		height: 120%;
		background: #ddd;
		opacity: .8;
		transform: translate(-20%, -40%);
	}

	30% {
		background: transparent;
	}

	40% {
		width: 120%;
		height: 200%;
		background: #00ffea;
		opacity: .6;
		transform: translate(-70%, -30%);
	}

	50% {
		background: transparent;
	}

	60% {
		width: 190%;
		height: 80%;
		background: #ff009d;
		opacity: .4;
		transform: translate(-50%, -20%);
	}

	70% {
		background: transparent;
	}

	80% {
		width: 40%;
		height: 100%;
		background: #ddd;
		opacity: .2;
		transform: translate(-40%, -30%);
	}

	90% {
		background: transparent;
	}

	100% {
		width: 0%;
		height: 0%;
		background: transparent;
		opacity: 0;
	}
}

@keyframes vanish {
	from { opacity: 1; }
	to { opacity: 0; }
}

.contact-container {
	display: flex;
	flex-direction: column-reverse;
	height: auto;
	margin: 25px 20px;
	padding: 0;

	@media(min-width: #{.75 * $two-column-breakpoint}) {
		padding: 100px 0 0;
	}

	@media(min-width: $two-column-breakpoint) {
		flex-direction: row;
	}
}

.contact-column {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: flex-start;
	width: auto;
	height: auto;

	@media(min-width: $two-column-breakpoint) {
		width: 50%;
	}

	&.left {
		@media(min-width: $two-column-breakpoint) {
			margin: 0 20px 0 0;
		}
	}

	&.right {
		display: block;

		@media(min-width: $two-column-breakpoint) {
			margin: 0 0 0 20px;
		}
	}

	a {
		font-weight: 750;
	}
}

.form-styled {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;

	@media(min-width: $two-column-breakpoint) {
		width: 60%;
	}

	input, textarea {
		position: relative;
		width: 100%;
		min-width: 280px;
		margin: 10px 0;
		padding: 5px;
		font-family: 'Dosis';
		font-size: 1rem;
		color: #ddd;
		background: transparent;
		border: 0;
		outline: 0;
		border-bottom: 1px solid;
		border-color: #ddd;

		&:focus {
			animation: focus-animation .25s ease;
		}
	}

	textarea {
		position: relative;
		height: 250px;
		min-height: 75px;
		resize: vertical;

		&::-webkit-scrollbar {
			width: 1px;
		}

		&::-webkit-scrollbar-track {
			background: transparent; 
		}

		&::-webkit-scrollbar-thumb {
			background: #ddd; 
		}
	}

	label[type=checkbox-label] {
		display: flex;
		align-items: flex-start;
		position: relative;

		input {
			position: relative;
			top: 0;
			min-width: 25px;
			width: 25px;
			margin: 5px;
			
			&:before {
				content: '';
				position: absolute;
				top: -2px;
				left: 4px;
				z-index: 1;
				width: 1rem;
				height: 1rem;
				border: 1px solid #c72c41;
				transition: all .3s ease-in-out;
			}
			
			&:checked {
				&:before {
					height: .5rem;
					border-color: #00ffea;
					border-top-style: none;
					border-right-style: none;
					transform: rotate(-45deg);
				} 
			}
			
			&:after {
				content: '';
				position: absolute;
				top: -3px;
				left: 3px;
				width: 1.1rem;
				height: 1.1rem;
				background: #2d2727;
			}
		}
	}

	button {
		margin: 20px;
		font-family: 'Dosis';
		font-size: 1.4rem;
		font-weight: bold;
		color: #ddd;
		background: none;
		border: none;
		outline: 0 !important;
		cursor: pointer;

		&[type=submit] {
			position: relative;
			animation: submit-remind-animation 4s 1s linear infinite;

			&:hover, &:focus, &.disable-animation {
				animation: none;
			}
		}
	}
}

.text-area-container {
	display: inline-block;
	position: relative;
	width: 100%;

	&::after {
		content: '';
		position: absolute;
		bottom: 14px;
		right: -4px;
		border-top: $handle-size solid #000;
		border-left: $handle-size solid transparent;
		border-right: $handle-size solid transparent;
		transform: rotate(-45deg);
		opacity: .5;
		pointer-events: none;
		z-index: 1;
	}

	&::before {
		content: '';
		position: absolute;
		bottom: 15px;
		right: -3px;
		height: 0px;
		width: 0px;
		border-top: $handle-size solid #ecfffd;
		border-left: $handle-size solid transparent;
		border-right: $handle-size solid transparent;
		transform: rotate(-45deg);
		pointer-events: none;
		z-index: 2;
	}

	@media (hover: none) and (pointer: coarse) {
		&::after {
			display: none;
		}
	
		&::before {
			display: none;
		}
	}
}

.pointer {
	content: '';
	position: absolute;
	top: 50%;
	left: 50%;
	width: 160%;
	height: 150%;
	transform: translate(-50%, -50%);
	transform-origin: center center;
	background: transparent;
	opacity: 0;
	pointer-events: none;
	z-index: -1;

	animation: pointer-animation .6s cubic-bezier(1, 0, 1, .3);
}

.scroll-invisible {
	width: 100%;
	height: 100%;
	overflow: auto;
	-ms-overflow-style: none;
	scrollbar-width: none;

	&::-webkit-scrollbar {
		display: none;
	}
}

.left-hand-side-gradient {
	position: absolute;
	bottom: 0;
	left: 0;
	width: 100vw;
	height: 100vh;
	background: #2d2727;
	background: linear-gradient(90deg, rgba(45,39,39,1) 25%, rgba(199,44,65,0.02) 100%);
	z-index: 0;
}

.notification {
	margin: 0 0 20px 0;
	opacity: 1;
	animation: vanish .5s ease 10s forwards;

	&.success {
		color: #00ffea;
	}

	&.failure {
		color: #c72c41;
	}
}
